:root {
  --main-bg-color: #020307;
  --secondary-bg-color: #3a4367;
  --light-bg-color: #555f8c;
  --light-accent-color: #c5996c;
  --dark-accent-color: #593a1c;
}

/* Reset */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
